// Default
$black: #000;
$dark-gray: #cfc9c2;
$gray: #BDBDBD;
$neutral-black: #1d1d1f;
$neutral-white: #fff;
$neutral-gray: #c2c2c2;
$yellow: #f2c94c;
$light: #fae9b7;

// Achromatic Color
$achromatic-white: #fff;
$achromatic-gray: #f5f5f5;
$achromatic-form-background: #f3f3f3;
$achromatic-document-set-background: #fafafa;
$solid-gray: #d7d7d7;
$primary-solid-gray: #dcdcdc;
$background: #f5f6f8;
$achromatic-secondary-solid-gray: #ededed;

// Chromatic Color
$primary: #009fe8;
$dark-blue: #2F80ED;
$secondary: #00496d;
$secondary-blue: #D9F1FC;
$secondary-success: #E5F8EC;
$secondary-black: #6C6C6C;
$light-blue: #F2FAFE;

// Accent
$accent-red: #ad3f32;
$accent-secondary: #85b3ee;
$accent-tertiary: #9bb8da;
$accent-skyblue: #f2fafe;
$accent-dark-blue: #2868ff;
$accent-tertiary-gray: #bebebe;

// Text
$text-black: #333;
$text-white: #fff;
$text-dark-gray: #777;
$text-gray: #a6a6a6;
$text-primary-black: #121212;
$guest-text-primary-black: #282828;
$text-secondary-black: #3d3d3d;
$text-tertiary-black: #333;
$text-tertiary: #808080;
$text-primary-white: #fff;
$text-disabled: #c3c3c3;
$text-primary-blue: #2f67b2;
$text-default-placeholder: #7a7a7a;
$text-orange: #fc3c00;
$text-dark-blue: #0029ff;

// Function Color
$function-disaster-blue: #4e78c5;
$function-disabled: #c3c3c3;
$function-border: #f1f8fb;
$success-primary: #15bc58;
$success-secondary: #e2ffe8;
$function-notice-red: #e42f3c;
$function-list-blue: #f5fcff;
$function-favorite-pink: #f87e7e;
$function-progress: #d9f4ff;
$function-hover: #f8f8f8;
$functional-error-lighter: rgba(253, 107, 61, 0.1);
$disaster-blue: #4e78c5;
$favorite-pink: #787e7e;
$notice-red: #e42f3c;
$alert-primary: #f54128;
$alert-secondary: #ffe3e3;
$progress: #d0f4ff;
$function-secondary-error: #FDE7EB;

// Filter
$filter-white: rgba(255, 255, 255, 0.65);

// badge
$badge-required: #fa432a;

// Black
$background-black: #333;
$background-gray: #f8f9fb;
$background-inactive: #eaeaea;

// Stroke
$stroke-primary: #dadce0;
$stroke-focus: #2f67b2;

// Border
$border-primary-blue: 1px solid rgba(47, 103, 178, 1);
$border-gray: 1px solid #e6e6e6;
$border-primary-gray: 1px solid #e5e5e5;
$border-secondary-gray: 1px solid #dfdfdf;
$border-tertiary-gray: 1px solid #bebebe;
$border-secondary: 1px solid #00496d;

// box-shadow
$card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$drop-shadow: rgba(51, 51, 51, 0.15);
